{% extends 'layout.html' %}
{% load static %}

{% block title %}
List view of receiving sites | Floor-Area Ratio Transfer System (FARTS)
{% endblock title %}

{% block content %}
    <div id="app">
        <transition name="fade" mode="out-in">
            <div v-if="loading" key="loading">
                Loading...
            </div>
            <div v-else>
                <div class="container-2">
                    <div><h3>Site address</h3></div>
                    <div><h3>Actions</h3></div>
                    <div><h3>View bids</h3></div>
                    <div><h3>Find sites</h3></div>
                </div>
                <div v-for="site in sites" class="container-2" id="sending-list-view-data">
                    <div><h4>[[ site.streetAddress ]]</h4></div>
                    <div class='site-list-details'>
                        <a v-bind:href="'/sites/view/receiving/details/' + site.id"><button>View</button></a> <!-- v-bind will treat the contents as JS expression-->
                        <a href="#"><button>Edit</button></a>
                        <a href="#"><button>Delete</button></a>
                    </div>
                    <div>
                        <div v-if="site.bidStatus">View bids</div>
                        <div v-else>No bid history</div>
                    </div>
                    <div>
                        <div v-if="site.bidStatus">View | Edit | Delete</div>
                        <div v-else>
                            <a href="#"><button>Find FAR</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script>
const app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
        sites: null,
        loading: true,
    },
    methods: {
        getReceivingSites: function() {
            axios.get('/sites/receiving/view')
            .then((response) => {
                this.sites = response.data.sites

                setTimeout(() => {
                    this.loading = false
                }, 300)
            })
        },
    },
    created: function() { // when site is done loading, run these functions
        this.getReceivingSites()
    },
})
</script>

{% endblock scripts %}