{% extends 'layout.html' %}
{% load static %}

{% block title %}
Bid | Floor-Area Ratio Transfer System (FARTS)
{% endblock title %}

{% block content %}
<div class="content">
    <div id="details">
        <h3>{{ sendingSite.transferrable_far }} sqft for {{ sendingSite.base_zone_classes }}</h3>
        <div>Current bid: {{ auction.current_bid }}</div>
        <div>Start date: {{ auction.start }}</div>
        <div>End date: {{ auction.end }}</div>
        
        <div id='map-container'>
            <div class="site-selection" id='map'></div>
        <div>

    </div>
</div>

{% endblock content%}

{% block scripts %} 
<script>

var createGeoJSONCircle = function(center, radiusInKm, points) {
    if(!points) points = 64;

    var coords = {
        latitude: center[1],
        longitude: center[0]
    };

    var km = radiusInKm;

    var ret = [];
    var distanceX = km/(111.320*Math.cos(coords.latitude*Math.PI/180));
    var distanceY = km/110.574;

    var theta, x, y;
    for(var i=0; i<points; i++) {
        theta = (i/points)*(2*Math.PI);
        x = distanceX*Math.cos(theta);
        y = distanceY*Math.sin(theta);

        ret.push([coords.longitude+x, coords.latitude+y]);
    }
    ret.push(ret[0]);

    return {
        "type": "geojson",
        "data": {
            "type": "FeatureCollection",
            "features": [{
                "type": "Feature",
                "geometry": {
                    "type": "Polygon",
                    "coordinates": [ret]
                }
            }]
        }
    };
};

let lng = {{sendingSite.fuzzy_location.x}};
let lat = {{sendingSite.fuzzy_location.y}};

mapboxgl.accessToken = "pk.eyJ1IjoibmtvYmVsIiwiYSI6ImNqbzF4M3Q4ODBnZHoza254dWplOGk5ZnAifQ.TKDCR6nbv268FBi68MSbiA";
const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/nkobel/cjp4w486b18fr2snyjbymbh0g', 
    center: [lng, lat],
    zoom: 13
});

map.on("load", function(){
    map.addSource("polygon", createGeoJSONCircle([lng, lat], 0.8046));

    map.addLayer({
        "id": "polygon",
        "type": "fill",
        "source": "polygon",
        "layout": {},
        "paint": {
            "fill-color": "#889fa5",
            "fill-opacity": 0.55,
            "fill-outline-color": "white"
        }
    });
});



</script>
{% endblock scripts %}