{% extends "accounts/layout.html" %}
{% load static %} 

{% block stylesheet %}
<link href="{% static "sites/css/dashboard.css"%}" rel='stylesheet' />
{% endblock stylesheet %}

{% block content %}
    <div class='section'>
        <div id='dashboard'>
            <img src="{% static 'sites/images/icons/user.svg'%}">
            <h1>{{ user.username }}'s dashboard</h1>
        </div>
        <div>
            <div class='dashboard-element'>
                <h3>My sites</h3>
                <div class='list'>
                    <p><a href='#'>Manage sites</a></p>
                    <p><a href="{% url 'sites:view-receiving' %}">View receiving sites</a></p>
                    <p><a href="{% url 'sites:view-sending' %}">View sending sites</a></p>
                    <p><a href="{% url 'sites:register-receiving' %}">Add new receiving site</a></p>
                    <p><a href="{% url 'sites:register-sending' %}">Add new sending site</a></p>
                </div>
            </div>
            <div class='dashboard-element'>
                <h3>My bids</h3>
                <div class='list'>
                    <p><a href='#'>Manage bids</a></p>
                    <p><a href='#'>View active bids</a></p>
                    <p><a href='#'>View past bids</a></p>
                </div>
            </div>
            <div class='dashboard-element'>
                <h3>My auctions</h3>
                <div class='list'>
                    <p><a href='#'>Manage auctions</a></p>
                    <p><a href='#'>View active auctions</a></p>
                    <p><a href='#'>View past auctions</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}