{% load static %} 

<footer>
    <div class='footer-main'>
        <div class='footer-logo'>
            <img class='square-logo' src="{% static 'sites/images/farts_logo_dark.png'%}">
        </div>
        <div class='footer-links'>
            <ul>
                <li>Home</li>
                <li>Dashboard</li>
                <li>Register to send FAR</li>
                <li>Register to receive FAR</li>
            </ul>
        </div>
        <div class='footer-links'>
            <ul>
                <li>About</li>
                <li>Portland zoning rules</li>
                <li>Terms of service</li>
            </ul>
        </div>
        <div class='footer-social'>
            <h3>Follow the FARTS</h3>
            <div class='social-icons'>
                <ul>
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>GitHub</li>
                    <li>RSS</li>
                </ul>
            </div>
        </div>
    </div>
    <div class='footer-end'>
        <small>&copy;2019 Floor-Area Ratio Transfer System (FARTS<sup>&reg;</sup>)</small>
    </div>
</footer>