{% load static %} 

<footer>
    <div class='footer-main'>
        <div class='footer-logo'>
            <img src="{% static 'sites/images/farts_logo_dark.png'%}">
        </div>
        <div class='footer-links'>
            <ul>
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
                <li>Link 4</li>
            </ul>
        </div>
        <div class='footer-links'>
            <ul>
                <li>Link 5</li>
                <li>Link 6</li>
                <li>Link 7</li>
                <li>Link 8</li>
            </ul>
        </div>
        <div class='footer-social'>
            <h3>Follow the FARTS</h3>
            <div class='social-icons'>
                <ul>
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>GitHub</li>
                    <li>RSS</li>
                </ul>
            </div>
        </div>
    </div>
    <div class='footer-end'>
        &copy;2019 Floor-Area Ratio Transfer System (FARTS&reg;)
    </div>
</footer>