{% extends 'layout.html' %}
{% load static %}  {# Only load static once at the top of your file #}

{% block title %}
Home | Floor-Area Ratio Transfer System (FARTS) | Transfer development rights today!
{% endblock title %}

{% block content %}
<div class-"container" id="hero-img" style="background-image:url({% static 'sites/images/abby_gordon.jpg'%})">
    <div id="hero-text">Portland's first marketplace for F.A.R. transfers</div>
</div>
<div class="grabber">
    <div class="image">
        <img src="{% static 'sites/images/icons/transfer1.svg' %}">
    </div>
    <div class="copy">
        <h1>Buy and sell development rights today.</h1>
        <h3>The Floor-Area Ratio Transfer System (FARTS&reg;) safely and securely connects developers looking to transfer development entitlements.</h3>
        <p>FARTS&reg; is an app that lets property owners sell unused development rights to other property owners of qualifying sites who need additional development entitlements. It's a new way to allow sites to maximize their development potential and find their highest and best use.</p>
    </div>
</div>
<div class="container">
    
    <div class="marketing-feature">
        <img src="{% static 'sites/images/icons/certainty.svg'%}">
        <h1>Certainty.</h1>
        <h3>Explore development alternatives with greater confidence.</h3>
        <p>In a dynamic market, FARTS provides your project with greater certainty to develop it as you see fit. It allows for more flexibility within your pro forma to maximize site opportunity. Buy additional FAR when you need it, and sell extra FAR entitlements at a price you specify.</p>
    </div>
    <div class="marketing-feature">
        <img src="{% static 'sites/images/icons/new-marketplace.svg'%}">
        <h1>First of its kind.</h1>
        <h3>Portland's debut TDR marketplace for developers.</h3>
        <p>FARTS&reg; is the first forum connecting developers looking to maximize their gains and make more projects pencil out.</p>
    </div>
    {% comment %} <div class="marketing-feature">
        <h1>Market-driven transfers.</h1>
        <h3>Let FARTS&reg; suggest a price for your site.</h3>
        <p>Using the latest data analytics, FARTS&reg; intelligently suggests an optimal price for your site to maximize potential when trasfering FAR.</p>
    </div> {% endcomment %}
    <div class="marketing-feature">
        <img src="{% static 'sites/images/icons/data-driven.svg'%}">
        <h1>Informed by data.</h1>
        <h3>Let FARTS&reg; suggest a price for your site to maximize returns.</h3>
        <p>Using the latest data analytics, FARTS&reg; intelligently suggests an optimal price for your site to maximize potential when trasfering FAR.</p>
    </div>
</div>
{% endblock content %}